.dsc-payment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border: 1px solid var(--color-card-border);
    border-radius: 5px;
    padding: 10px
}

.dsc-payment-form section{
    width: 100px;
    height: 100px;
    padding: 5px;
    color: var(--color-font-secondary);
    align-items: center;
    font-weight: 0;
}

.dsc-payment-form  h3{
    font-size: 28px;
    color: var(--color-font-primary);
    margin-bottom: 20px;
    text-align: center;
}


.dsc-payment-form button {

    margin-top: 20px;
}

.dsc-payment-container{
    margin: 0 auto;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content:  space-between;
}

.dsc-dialog-btn-container {

    width: 100%; /* para o botão n perde largura */  
    display: grid;
    grid-template-columns:  1fr; /* vai ocupar 2 metades do espaç*/
    grid-gap: 20px;
    margin-top: 10px;
  }
  

  .dsc-dialog-box {
    font-weight: 700;
    color: var(--color-font-primary);
    font-size: 20px;
  }

  .dsc-installments{

    color: var(--color-font-primary);
    margin-top: 20px;
    padding: 5px;
  }

  .dsc-installments{

    color: var(--color-font-primary);
    margin-top: 20px;
    padding: 5px;
  }

  .dsc-installments p{
    margin-bottom: 10px;
    font-weight: 700;
  }
  .dsc-payment-method{

    color: var(--color-font-primary);
    font-weight: 400;
    padding: 5px;
  } 


  @media (max-width: 576px) {
    
  }


.dsc-dialog-box[data-payment-status="CANCELED"]  {
  color:var(--color-font-tertiary);
  background-color: red;
}

.dsc-dialog-box[data-payment-status="FINISHED"]  {
  color:var(--color-font-tertiary);
  background-color: rgb(0, 134, 0) ;
}

.dsc-dialog-box[data-payment-status="ON_TERMINAL"]  {
  color:var(--color-font-tertiary);
  background-color: rgb(208, 208, 11);
}
  
.loading-container {
  display: flex;
  flex-direction: column; /* Coloca o GIF e o texto em coluna */
  align-items: center; /* Centraliza horizontalmente */
}

.loading-container img {
  width: 50px; /* Ajuste o tamanho conforme necessário */
  height: 50px;
  margin-bottom: 10px; /* Espaço entre o GIF e o texto */
}